# --- VaultX Specific (Private Files) ---
secret.key
anish.txt
MySecretFiles/

# --- Python Standard Ignores ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Editor Settings ---
.vscode/
.idea/